<div class="container machine-container">
  <div class="row">
    <div class="col-md-8 mx-auto post-form-container">
      <h2 class="h2">保有機登録</h2>
      <!-- 投稿を記憶するための model: @machineを追加 -->
      <!--model: @machineはmachineコントローラで作成する@machine = Machine.newのオブジェクトをはめこんんでいる（と思う）-->
      <%= form_with(url: create_machine_path, model: @machine, local: true, method: :post, html: { class: 'post-form' } ) do |f| %>
      <!-- ここまで -->
      <!-- バリデーションエラーメッセージの追加 -->
        <% if @machine.errors.any? %>
          <ul>
            <% @machine.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        <% end %>
        <!-- ここまで追加 -->
       
          <div class="form-group">
            <%= f.label "タイトル*", class: 'form-label' %>
            <%= f.text_area :title, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.label "商品説明*", class: 'form-label' %>
            <%= f.text_area :supplement, class: 'form-control' %>
          </div>

        <div class="machine-info">
          <div class="form-group">
            <%= f.label "機種", class: 'form-label' %>
            <%= f.text_field :model, class: 'form-control' %>
          </div>

          <div class="form-group">
            <%= f.label "メーカー", class: 'form-label' %>
            <%= f.text_field :maker, class: 'form-control' %>
          </div>

          <div class="form-group">
            <%= f.label "貸出料金(円/日)*", class: 'form-label' %>
            <%= f.number_field :price, class: 'form-control' %>
          </div>

          <div class="form-group">
            <%= f.label "全長(mm)", class: 'form-label' %>
            <%= f.number_field :length, class: 'form-control' %>
          </div>

          <div class="form-group">
            <%= f.label "全幅(mm)", class: 'form-label' %>
            <%= f.number_field :width, class: 'form-control' %>
          </div>

          <div class="form-group">
            <%= f.label "全高(mm)", class: 'form-label' %>
            <%= f.number_field :height, class: 'form-control' %>
          </div>

          <div class="form-group">
            <%= f.label "馬力(ps)", class: 'form-label' %>
            <%= f.number_field :horsepower, class: 'form-control' %>
          </div>

          <div class="form-group">
            <%= f.label "重量(kg)", class: 'form-label' %>
            <%= f.number_field :weight, class: 'form-control' %>
          </div>

          <div class="form-group">
            <%= f.label "燃料", class: 'form-label' %>
            <%= f.text_field :fuel, class: 'form-control' %>
          </div>

          <div class="form-group">
            <%= f.label "キャビン", class: 'form-label' %>
            <%= f.text_field :cabin, class: 'form-control' %>
          </div>

          <div class="form-group">
            <%= f.label "アタッチメント", class: 'form-label' %>
            <%= f.text_field :attachment, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.label "使用時間(時間)", class: 'form-label' %>
            <%= f.number_field :using_time, class: 'form-control' %>
          </div>

          <div class="form-group">
            <%= f.label "メンテナンス状況", class: 'form-label' %>
            <%= f.text_field :maintenance, class: 'form-control' %>
          </div>

          <div class="form-group">
            <%= f.label "運搬方法", class: 'form-label' %>
            <%= f.text_field :transportation, class: 'form-control' %>
          </div>

<!--ここで所在地にプロファイル内のpregectureを初期値として入力するためにmachineコントローラに@profile = Profile.find_by(user_id: current_user.id)を書き込む-->
           <div class="form-group">
            <%= f.label "農機具所在地（都道府県）", class: 'form-label' %>
            <%= f.text_field :prefecture,  value: @profile.prefecture, class: 'form-control' %>
          </div>

          <div class="form-group">
            <%= f.label "農機具所在地（市）", class: 'form-label' %>
            <%= f.text_field :city, value: @profile.city, class: 'form-control' %>
          </div>

        </div>        
        <div class="form-group image-upload">
          <%= f.label "画像", class: 'form-label' %>
          <div class="image-preview" id="imagePreview">
            <img src="" alt="Images Preview" class="image-preview__image">
            <span class="image-preview__default-text">ここに画像を貼り付け</span>
          </div>
          <%= f.file_field :images, class: 'form-control-file', id: 'imageUpload' %>
        </div>

        <div class="button-group">
          <%= f.submit '投稿する', class: 'btn btn-primary' %>
        </div>
      <% end %>
    </div>
  </div>
</div>